n8n/readwise_daily_digest.json
{
  "name": "Readwise Daily Digest v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "https://readwise.io/api/v3/list/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "later"
            },
            {
              "name": "category",
              "value": "article"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-readwise",
      "name": "Fetch Readwise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Readwise API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all()[0].json.results || [];\n\nconst filtered = results\n  .filter(doc => (doc.reading_progress || 0) === 0)\n  .sort((a, b) => new Date(b.saved_at) - new Date(a.saved_at));\n\nconst top3 = filtered.slice(0, 3);\n\nif (top3.length === 0) {\n  return [{ json: { stop: true, message: 'No new articles found.' } }];\n}\n\nconst articleText = top3.map((doc, i) => {\n  return `Article ${i+1}:\\nTitle: ${doc.title}\\nAuthor: ${doc.author || 'Unknown'}\\nURL: ${doc.url}\\nSummary: ${doc.summary || 'None'}`;\n}).join('\\n\\n---\\n\\n');\n\nreturn [{\n  json: {\n    stop: false,\n    articleCount: top3.length,\n    chatInput: `You are a helpful reading assistant. Generate a daily digest for the following ${top3.length} articles from Readwise Reader. Provide a concise 2-sentence summary for each.\\n\\n${articleText}\\n\\nFormat EXACTLY like this for Google Chat:\\n📚 **Daily Reading Digest**\\n\\n1. **[Title]** by *[Author]*\\n📝 [2-sentence summary]\\n🔗 [Read More](URL)\\n\\n2. ...`\n  }\n}];"
      },
      "id": "filter-aggregate",
      "name": "Filter & Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-stop",
              "leftValue": "={{ $json.stop }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-empty",
      "name": "Check If Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "promptType": "auto",
        "options": {}
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gemini-2.0-flash"
        },
        "options": {
          "baseURL": "https://generativelanguage.googleapis.com/v1beta/openai"
        }
      },
      "id": "openai-gemini-model",
      "name": "OpenAI Chat Model (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1200, 600],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Gemini via OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "spaceId": "spaces/AAQARNsc07M",
        "messageUi": {
          "text": "={{ $json.output }}"
        }
      },
      "id": "google-chat",
      "name": "Google Chat",
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [1400, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Fetch Readwise", "type": "main", "index": 0 }]]
    },
    "Fetch Readwise": {
      "main": [[{ "node": "Filter & Aggregate", "type": "main", "index": 0 }]]
    },
    "Filter & Aggregate": {
      "main": [[{ "node": "Check If Empty", "type": "main", "index": 0 }]]
    },
    "Check If Empty": {
      "main": [
        [],
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model (Gemini)": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Google Chat", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
